<form enctype="multipart/form-data" method="post">
    {% csrf_token %}

    <div class="mb-3">

      {% for campo in formulario %}

        {% if campo.name == "resenia" %}

          <label for="" class="form-label">Reseña: </label>
          <textarea class="form-control" name="resenia" id="" rows="10" >{{ campo.value }}</textarea>

        {% else %}

          <div class="mb-3">
            <label for="" class="form-label">{{ campo.label }}</label>
      
            {% if campo.field.widget.input_type == 'file' and campo.value %}
                <br>
                <img src="{{ STATIC_URL }}/img/{{ campo.value }}" width="100">

            {% endif %}

            <input 
            class="form-control" 
            type="{{ campo.field.widget.input_type }}"
            name="{{ campo.name }}" 
            id="" 
            aria-describedby="helpId" 
            placeholder="{{ campo.label }}"
            value="{{ campo.value | default:'' }}"
            >
            
          </div>
          <div class="col-12 help-text"> {{ campo.errors }} </div>

        {% endif %}
      {% endfor %}

    </div>

    <input name="" id="" class="btn btn-success" type="submit" value="Enviar datos">
    <a name="" id="" class="btn btn-primary" href="{% url 'peliculas' %}" role="button">Cancelar</a>

</form>