{% extends "base.html" %}

{% block titulo %} Películas {% endblock %}

{% block contenido %} 


<div class="card">
    <div class="card-body">
        <h4 class="card-title" align="center">Listado de 65 westerns elegidos por Fotogramas</h4>
        
        <div class="row justify-content-md-center">
                 
            <div  align="center">
            <p >
                Buen <a target="_blank" href="https://www.fotogramas.es/noticias-cine/g11729087/mejores-westerns-historia-cine/">
                ranking</a> de unos 65 westerns seleccionados por el sitio español <a target="_blank" href="https://www.fotogramas.es/">FOTOGRAMAS</a>. 
                
            </p>
            <div>
        
            <div class="col-md-auto">
                <table class="table table-striped">
                    <tr><td>1</td><td>La diligencia</td><td>1939</td><td>John Ford</td></tr>
                    <tr><td>2</td><td>Tierra de audaces</td><td>1939</td><td>Henry King</td></tr>
                    <tr><td>3</td><td>El forastero</td><td>1940</td><td>William Wyler</td></tr>
                    <tr><td>4</td><td>Murieron con las botas puestas</td><td>1941</td><td>Raoul Walsh</td></tr>
                    <tr><td>5</td><td>Espíritu de conquista</td><td>1941</td><td>Fritz Lang</td></tr>
                    <tr><td>6</td><td>The Outlaw</td><td>1943</td><td>Howard Hughes</td></tr>
                    <tr><td>7</td><td>Pasión de los fuertes</td><td>1946</td><td>John Ford</td></tr>
                    <tr><td>8</td><td>Río Rojo</td><td>1948</td><td>Howard Hawks</td></tr>
                    <tr><td>9</td><td>Juntos hasta la muerte</td><td>1949</td><td>Raoul Walsh</td></tr>
                    <tr><td>10</td><td>Colt 45</td><td>1950</td><td>Edwin L. Marin</td></tr>
                    <tr><td>11</td><td>Winchester 73</td><td>1950</td><td>Anthony Mann</td></tr>
                    <tr><td>12</td><td>Caravana de mujeres</td><td>1951</td><td>William A. Wellman</td></tr>
                    <tr><td>13</td><td>Solo ante el peligro</td><td>1952</td><td>Fred Zinnemann</td></tr>
                    <tr><td>14</td><td>Raíces profundas</td><td>1953</td><td>George Stevens</td></tr>
                    <tr><td>15</td><td>Fort Bravo</td><td>1953</td><td>John Sturges</td></tr>
                    <tr><td>16</td><td>Tierras lejanas</td><td>1954</td><td>Anthony Mann</td></tr>
                    <tr><td>17</td><td>El hombre de Laramie</td><td>1955</td><td>Anthony Mann</td></tr>
                    <tr><td>18</td><td>Wichita, ciudad infernal</td><td>1955</td><td>Jacques Tourneur</td></tr>
                    <tr><td>19</td><td>Pacto de honor</td><td>1955</td><td>André de Toth</td></tr>
                    <tr><td>20</td><td>La pradera sin ley</td><td>1955</td><td>King Vidor</td></tr>
                    <tr><td>21</td><td>Centauros del desierto</td><td>1956</td><td>John Ford</td></tr>
                    <tr><td>22</td><td>El tren de las 3:10</td><td>1957</td><td>Delmer Daves</td></tr>
                    <tr><td>23</td><td>Los cautivos</td><td>1957</td><td>Budd Boetticher</td></tr>
                    <tr><td>24</td><td>Duelo de titanes</td><td>1957</td><td>John Sturges</td></tr>
                    <tr><td>25</td><td>Horizontes de grandeza</td><td>1958</td><td>William Wyler</td></tr>
                    <tr><td>26</td><td>Río Bravo</td><td>1959</td><td>Howard Hawks</td></tr>
                    <tr><td>27</td><td>El hombre de las pistolas de oro</td><td>1959</td><td>Edward Dmytryck</td></tr>
                    <tr><td>28</td><td>Los siete magníficos</td><td>1960</td><td>John Sturges</td></tr>
                    <tr><td>29</td><td>Los comancheros</td><td>1961</td><td>Michael Curtiz</td></tr>
                    <tr><td>30</td><td>El hombre que mató a Liberty Valance</td><td>1962</td><td>John Ford</td></tr>
                    <tr><td>31</td><td>La conquista del oeste</td><td>1962</td><td>VV.AA.</td></tr>
                    <tr><td>32</td><td>Duelo en la alta sierra</td><td>1962</td><td>Sam Peckinpah</td></tr>
                    <tr><td>33</td><td>Río Conchos</td><td>1964</td><td>Gordon Douglas</td></tr>
                    <tr><td>34</td><td>Antes llega la muerte</td><td>1964</td><td>Joaquín L. Romero Marchent</td></tr>
                    <tr><td>35</td><td>Los cuatro hijos de Katie Elder</td><td>1965</td><td>Henry Hathaway</td></tr>
                    <tr><td>36</td><td>El valle de la violencia</td><td>1965</td><td>Andrew V. McLaglen</td></tr>
                    <tr><td>37</td><td>El bueno, el feo y el malo</td><td>1966</td><td>Sergio Leone</td></tr>
                    <tr><td>38</td><td>Los profesionales</td><td>1966</td><td>Richard Brooks</td></tr>
                    <tr><td>39</td><td>Django</td><td>1966</td><td>Sergio Corbucci</td></tr>
                    <tr><td>40</td><td>Hasta que llegó su hora</td><td>1968</td><td>Sergio Leone</td></tr>
                    <tr><td>41</td><td>Shalako</td><td>1968</td><td>Edward Dmytryk</td></tr>
                    <tr><td>42</td><td>Grupo salvaje</td><td>1969</td><td>Sam Peckinpah</td></tr>
                    <tr><td>43</td><td>Un hombre llamado caballo</td><td>1970</td><td>Elliott Silverstein</td></tr>
                    <tr><td>44</td><td>Pequeño gran hombre</td><td>1970</td><td>Arthur Penn</td></tr>
                    <tr><td>45</td><td>El juez de la horca</td><td>1972</td><td>John Huston</td></tr>
                    <tr><td>46</td><td>La venganza de Ulzana</td><td>1972</td><td>Robert Aldrich</td></tr>
                    <tr><td>47</td><td>Los cowboys</td><td>1972</td><td>Mark Rydell</td></tr>
                    <tr><td>48</td><td>Pat Garrett y Billy the Kid</td><td>1973</td><td>Sam Peckinpah</td></tr>
                    <tr><td>49</td><td>Forajidos de leyenda</td><td>1980</td><td>Walter Hill</td></tr>
                    <tr><td>50</td><td><a href="{% url 'resenia_Pelicula' 1 %}">Sin perdón</a></td><td>1992</td><td><a href="{% url 'buscar_director' 'Clint Eastwood' %}">Clint Eastwood</a></td></tr>
                    <tr><td>51</td><td>Open range</td><td>2003</td><td>Kevin Costner</td></tr>
                    <tr><td>52</td><td>El asesinato de Jesse James por el cobarde Robert Ford</td><td>2007</td><td>Andrew Dominik</td></tr>
                    <tr><td>53</td><td>Appaloosa</td><td>2008</td><td>Ed Harris</td></tr>
                    <tr><td>54</td><td>Meek's Cutoff</td><td>2010</td><td>Kelly Reichardt</td></tr>
                    <tr><td>55</td><td>Valor de ley</td><td>2010</td><td>Joel Coen y Ethan Coen</td></tr>
                    <tr><td>56</td><td>Rango</td><td>2011</td><td>Gore Verbinski</td></tr>
                    <tr><td>57</td><td>Django desencadenado</td><td>2012</td><td>Quentin Tarantino</td></tr>
                    <tr><td>58</td><td>Bone Tomahawk</td><td>2015</td><td>S. Craig Zahler</td></tr>
                    <tr><td>59</td><td>Comanchería</td><td>2016</td><td>David Mackenzie</td></tr>
                    <tr><td>60</td><td>Los odiosos ocho</td><td>2016</td><td>Quentin Tarantino</td></tr>
                    <tr><td>61</td><td>La balada de Buster Scruggs</td><td>2018</td><td>Joel Coen y Ethan Coen</td></tr>
                    <tr><td>62</td><td>Los hermanos Sister</td><td>2018</td><td>Jacques Audiard</td></tr>
                    <tr><td>63</td><td>First Cow</td><td>2019</td><td>Kelly Reichardt</td></tr>
                    <tr><td>64</td><td>Noticias del gran mundo</td><td>2020</td><td>Paul Greengrass</td></tr>
                    <tr><td>65</td><td>El poder del perro</td><td>2021</td><td>Jane Campion</td></tr>
                   
                </table>
                
                                   
            </div>
                    
        </div>

    </div>

</div> 

{% endblock %}
