{% extends "base.html" %}

{% block titulo %} Notas {% endblock %}

{% block contenido %} 

<div class="card">
    <div class="card-body">

        <h4 class="card-title">Mis notas</h4>

        <div class="row justify-content-md-left">
            <ol class="list-unstyled">
                <div class="col-md-auto">
                    <li><a href="{% url 'queeselfilmnoir' %}">¿Qué es el Film Noir?</a></li>
                </div>
            </ol>
        </div>

        </br>
        <h4 class="card-title">Notas externas que me gustaron</h4>

        <div class="row justify-content-md-left">
            <ol class="list-unstyled">
                {% for nota in notas %}
                    <div class="col-md-auto">
                        <li><a target="_blank" href="{{ nota.enlace }}">{{ nota.titulo }}</a> 
                            por {{ nota.autor }}</li>

                    </div>
                {% endfor %}
            </ol>
        </div>
    </div>
</div> 

{% endblock %}
