{% extends "base.html" %}

{% block titulo %} Películas {% endblock %}

{% block contenido %} 

<div class="card">
    <div class="card-body">

        {% if genero %}
            <h4 class="card-title">Películas del género {{ genero }} ordenadas por año ({{ cantidad }})</h4>
            </br>

            <div class="row justify-content-md-center">
                {% for pelicula in peliculas %}
                    <div class="col-md-auto"><a href="{% url 'resenia_Pelicula' pelicula.id %}">{{ pelicula.nombre }}</a> ({{ pelicula.anio }})
                    </div>
                {% endfor %}
            </div>
        {% else %}

            {% if subgenero %}
                <h4 class="card-title">Películas del subgénero {{ subgenero }} ordenadas por año ({{ cantidad }})</h4>
                </br>

                <div class="row justify-content-md-center">
                    {% for pelicula in peliculas %}
                        <div class="col-md-auto"><a href="{% url 'resenia_Pelicula' pelicula.id %}">{{ pelicula.nombre }}</a> ({{ pelicula.anio }})
                        </div>
                    {% endfor %}
                </div>
            {% else %}

                {% if pais %}

                    <h4 class="card-title">Películas originarias de {{ pais }} ordenadas por año ({{ cantidad }})</h4> 
                    </br>

                    <div class="row justify-content-md-center">
                        {% for pelicula in peliculas %}
                            <div class="col-md-auto"><a href="{% url 'resenia_Pelicula' pelicula.id %}">{{ pelicula.nombre }}</a> ({{ pelicula.anio }})
                            </div>
                        {% endfor %}
                    </div>

                {% else %}

                    <h4 class="card-title">Películas ordenadas alfabéticamente ({{ cantidad }})</h4>
                    <a class="btn btn-secondary" href="{% url 'peliculascajitas' %}" role="button">
                        POSTERS</a>
                    <a class="btn btn-secondary" href="{% url 'peliculasxordenresenia' %}" role="button">
                        ORDENADAS POR FECHA DE RESEÑA</a>
                    <a class="btn btn-secondary" href="{% url 'peliculasxordenanio' %}" role="button">
                        ORDENADAS POR AÑO</a>
                    </br></br>

                    <div class="row justify-content-md-center">
                                {% for pelicula in peliculas %}
                                    <div class="col-md-auto"><a href="{% url 'resenia_Pelicula' pelicula.id %}">{{ pelicula.nombre }}</a> ({{ pelicula.anio }})
                                    </div>
                                {% endfor %}
                    </div>
                {% endif %}
                
            {% endif %}

    {% endif %}  

    </div>

</div> 

{% endblock %}
